body{
    width: 45%;
    margin: auto;
}
h1 {
    font-size: 8em;
    font-weight: 700;
    text-align: center;
}
input {
    width: auto;
    max-width: 200px;
    height: 80px;
    font-size: 5em;
    text-align: center;
    border-width: 5px;
}
section {
    padding: 50px;
    margin: auto;
    vertical-align: middle;
    display: flex;  /* defaults to row layout */
    justify-content: center;  /* centers items horizontally in row layout */
    align-items: center;  /* centers vertically in row layout */
    /* flex-direction: column; will set layout to column instead of row */
}
.flexitem1 {
    flex-grow: 1;
    padding: 20px;
    align-items: center;
    align-content: center;
    border-radius: 50px;
}
.flexitem2 {
    flex-grow: 1;
}
.flexitem3 {
    flex-grow: 1;
    padding: 20px;
    align-items: center;
    align-content: center;
    border-radius: 30px;
}

#plus, #minus {
    background-color: #A9A9A9;
    height: 80px;
    width: 80px;
    color: white;
    font-size: 5em;
    line-height:60px;
    border-radius: 20%;
}
#plus:hover, #minus:hover {
    background-color: white;
    color: #A9A9A9;
}
#counter {
    align-content: center;
    padding: 100px 100px 0 100px;
}